.root {
		margin: 60px 0;

		@media (min-width: 768px) {
				display: flex;
				align-items: flex-end;
				margin: 80px 0;
		}
}

.rectangle {
				background-color: #DBF8F8;
				box-sizing: border-box;
				padding: 20px;
				min-height: 300px;

				@media (min-width: 768px) {
								width: 70%;
								padding: 40px;
						}
}

.skillsTitle {
		font-size: 80px;
		text-align: center;
		margin-top: -40px;

		@media (min-width: 768px) {
				font-size: 110px;
				margin-left: 40px;
				margin-top: 0;
				text-align: left;
		}

}

.list {
		list-style: none;
		font-size: 20px;
		display: flex;
		flex-wrap: wrap;

		@media (min-width: 768px) {
				font-size: 28px;
		}
}

.listItem {
		width: 50%;
		box-sizing: border-box;

		@media (min-width: 768px) {
				padding-right: 20px;
		}
}