@import'../../constants/variables.scss';

.logo {
	font-family: $primary-font;
	margin: 0;
	font-size: 25px;
	margin-right: 10px;
	text-transform: uppercase;

	@media (min-width: 768px) {
		font-size: 35px;
	}
}

.container {
	display: flex;
	margin: 20px;
	justify-content: flex-end;
	align-items: center;

	svg {
		width: 30px;
		height: 30px;
	}

	@media (min-width: 768px) {
		svg {
			width: 42px;
			height: 42px;
		}
	}
}